@use '../base' as *;

#examples{
  padding: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;

  .example{
    flex-basis: 30rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.4rem;
  }
}
