@use '../base' as *;

#gif-section{
  height: 13rem;

  img{height: 100%;}
  .swipe-img{width: 15rem;}
  .desk-work-img{width: 25rem;}
}

.blue-bar-gif-wrapper{
  padding-right: 5vw;

  img{
    width: 100%;
    height: 100%;
  }
}
