@use '../base' as *;

#more-services{
  padding: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;

  .service{
    flex-basis: 16rem;
    height: 23rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
}
