@use '../base' as *;

#services{
  padding: 2rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;

  .service{
    flex-basis: 20rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;

    img{
      width: 12rem;
      height: 12rem;
    }
  }
}