@use '../base' as *;

#services{
  min-height: 28rem;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;

  .service{
    flex-basis: 20rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
  }
}