@use '../base' as *;

#welcome{
  position: relative;
  height: 100vh;
  justify-content: flex-start;
  gap: 2.5rem;
  padding-top: 10rem;
  @include breakpoint-max-width(small){height: 78vh;}

  img.portrait{
    object-position: bottom;
    @include breakpoint-max-width(small){object-fit: contain;}
  }

  h1{
    padding: 0 5rem;
    @include breakpoint-max-width(small){padding: 0;} 
  }

  p{@include breakpoint-max-width(small){display: none;}}
}

