@keyframes background-pan{
  from{background-position: 0%;}
  to{background-position: -200%;}
}

@keyframes rotate360{
  from{transform: perspective(100rem) rotateY(0deg);}
  to{transform: perspective(100rem) rotateY(360deg);}
}

@keyframes color-fade{
  from{color: var(--white);}
  50%{color: var(--blue);}
  to{color: var(--white);}
}
