@use './break-points.scss' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  color: var(--white);
  transition: 0.3s ease;
}

html{font-size: 62.5%;}// 1rem = 10px

a, a:visited, a:active{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul{list-style: none;}

h1{
  font-size: 4.5rem;
  font-weight: var(--bold);
}

h2{
  font-size: 4.5rem;  
  font-weight: var(--regular);
}

span{
  font-size: inherit;
  font-weight: inherit;
}

p{
  font-size: 2rem;
}

button{border: none;}
button:hover *{
  cursor: pointer;
}

i{
  // padding: 0 0.5rem;
  font-size: 2.5rem;
}

.card{
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem -1rem var(--gray);
}
