@use './break-points.scss' as *;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  color: var(--white);
  transition: 0.3s ease;
  position: relative;
}

html{font-size: 62.5%;}// 1rem = 10px

a, a:visited, a:active{
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

ul{list-style: none;}

h1{
  font-size: 4.5rem;
  font-weight: var(---bold);
}

h2{
  font-size: 2.5rem;  
  font-weight: var(--regular);
}
h3{
  font-size: 2.5rem;
  font-weight: var(--light);
}

span{
  font-size: inherit;
  font-weight: inherit;
}

p{
  font-size: 2rem;
  font-weight: var(--regular);
  line-height: 1.25;
}

strong{font-weight: var(--bold);}

button{border: none;}
button:hover *{cursor: pointer;}

i{font-size: 3rem;}
.instagram-icon, .whatsapp-icon{font-size: 4rem;}

.card{
  border-radius: 1.5rem;
  box-shadow: 0 0 4rem -1rem var(--gray);
}

.bg-img{
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

