@use '../base' as *;

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 5rem 0;

  .information{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4rem;

    .profil{
      flex-basis: 18rem;
      height: 18rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      img{
        border-radius: 50%;
        flex-basis: 65%;
        width: 11.7rem;
        height: 11.7rem;
      }

      span{font-size: 1.8rem;}
    }
    .contact-info{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 4rem;
      @include breakpoint-max-width(small){gap: 1.5rem;}

      .contact{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;
      }
    }
  }

  .instagram-icon, .whatsapp-icon{font-size: 4rem;}
}

.social-media{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
