@use '../base' as *;

header{
  background-color: var(--black);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 5rem;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.6rem;

  a{gap: 1rem;}
  .logo-img{
    width: 3rem;
    height: 3rem;
  }
  span{font-size: 1.6rem;}

}

